@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ---------- UTILS ---------- */
:root {
  --alt-ff: "Rubik", sans-serif;

  --size-xxxs: 0.25rem;
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.875rem;
  --size-m: 1rem;
  --size-l: 1.25rem;
  --size-xl: 1.5rem;
  --size-xxl: 2rem;
  --size-xxxl: 4rem;

  --main-clr: #f55e00;
  --alt-clr: #e6b91e;
  --main-text-clr: #fff;
  --sec-text-clr: #ababab;
  --bg-clr: #171c2e;
  --sec-bg-clr: #434266;

  font-family: "Inter", sans-serif;
  font-size: 100%;
}
:root:focus {
  border-radius: 4px;
  margin: 4px;
  outline: outset 1px solid white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

body {
  position: relative;
  width: 100%;
  height: 100%;

  color: white;
  background-color: var(--bg-clr);
}

main {
  display: grid;
  position: relative;
  grid-template-areas:
    ". header ."
    ". content ."
    "footer footer footer";
  grid-template-columns: 5% 1fr 5%;
}
.header {grid-area: header;}
.page-content {grid-area: content;}
.footer {grid-area: footer;}

a {
  text-decoration: none;
  color: unset;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.link-primary:hover {
  text-decoration: underline;
  color: var(--main-clr);
}
.btn {
  --r: var(--size-s);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 96, 0.35);
  background-color: var(--sec-bg-clr);
  color: var(--main-text-clr);

  border-radius: var(--r);
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--main-clr);
  color: var(--bg-clr);
}
.glass,
.glass-hover:hover {
  --clr: 255, 255, 255;
  background: rgba(var(--clr), 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: var(--r);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.content-slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max(10%, 128px);
  gap: max(1.1%, 0.75rem);
  overflow-y: visible;  
  /* overflow-x: hidden; */
}
.content-slider a {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 96, 0.35);
  
  aspect-ratio: 2 / 3 ;
  border-radius: 1.25rem;
  background-color: var(--sec-bg-clr);
  overflow: hidden;
}
.content-slider a:hover{
  transform: scale(1.05);
}
