.header {
  position: sticky;

  top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  align-items: center;
  gap: 1rem;
  /* background-color: yellowgreen; */

  --r: 1rem;
}
.header.glass {
  padding: 1rem;
  margin-inline: -1rem;
}
.header > * {
  display: flex;
}
#logo {
  height: 2rem;
}
.navbar {
  justify-self: center;
}
.nav-link {
  --clr: var(--main-text-clr);
  --spacing: var(--size-xxs);
  color: var(--clr);
  font-family: var(--alt-ff);
  font-size: var(--size-l);
  font-weight: 600;
  letter-spacing: 2px;

  text-transform: uppercase;
  padding: var(--spacing) 1rem;
}
.nav-link > * {
  position: relative;
}

.nav-link:hover > *::after,
.nav-link[active] > *::after {
  content: "";
  position: absolute;
  background-color: var(--clr);
  width: 100%;
  height: 0.25rem;
  border-radius: 100rem;
  left: 0;
  bottom: calc(var(--spacing) * -1);
}
.nav-link:hover {
  --clr: var(--sec-text-clr);
}
.nav-link[active] {
  --clr: var(--main-clr);
}

/*  */
.search-container {
  position: relative;;
  display: flex;
}
.search-bar,
.search-icon {
  color: var(--main-text-clr);
  border: none;
  outline: none;
  background-color: transparent;
}
.search-bar {
  display: none;
  padding: 0.75rem;
  padding-right: 4rem;
}
.search-container:focus .search-bar{
  display: block;
}
.header-icons {
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}
.icon-box,
.search-icon {
  display: flex;
  border: 1px solid transparent;
  cursor: pointer;
}
.header-icons svg {
  aspect-ratio: 1;
  font-size: 1rem;
  padding: 12px;
}
