body {
  display: flex;
  width: 100%;
  height: 100%;
}
body::before{
  content: none;
}
main {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-inline: auto;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
main:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  filter: blur(3px);
  z-index: -1000;
  background-image: url("https://preview.redd.it/2jhtmqhg4mo81.png?width=1920&format=png&auto=webp&s=0d41709c3c478d2bcadfd8f2450271f175c0676f");
  background-position: center top -50%;
  background-size: 110%;
}
#logo{
  width: 12rem;
  margin: 2rem 0 0 1rem;
}
.page-content{
  display: flex;
  place-content: center;
  margin-top: 0;
  height: 90vh;
}
.login-wrapper {
  align-self: center;
  width: 480px;
  height: fit-content;
  padding: 2rem;
  border-radius: 1.25rem;

  --clr: 67, 66, 102;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 64px 2px rgba(0, 0, 0, 0.5);
}
.login-wrapper:hover{
  scale: 1.02;
}
.login-wrapper form{
  display: grid;
  gap: 1.25rem;
  justify-items: center;
}
.login-title{
  font-family: var(--alt-ff);
  font-size: 1.5rem;
  font-weight: 800;
  justify-self: left;
}
.input-box {
  position: relative;
  width: 100%;
}
.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: Inter;
  font-size: 14px;

  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.75rem;

  color: var(--text-clr);
  padding: 1rem;
  padding-right: 3rem;
}
.input-box input::placeholder {
  color: var(--text-clr);
}
.input-box svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}
.login-btn{
  font-family: Inter;
  font-weight: 800;
  background-color: var(--main-clr);
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}
.login-btn:hover{
  box-shadow: 0 0px 16px 2px rgba(255, 98, 0, 0.4);
  color: #fff;
  scale: 1.05;
}
.remember-forgot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: .875rem;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.register-link .link-primary{
  color: var(--main-clr);
  font-weight: 700;
}

.footer{
  margin-top: 8vh;
  background-color: rgba(var(--bg-clr));
}
